<%layout("layout/boilerplat")-%>

<body>
<div class="col-8 offset-2">
  <h2>creating new listing</h2>

  <form method="post" action="/listing" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="listing[title]"
        placeholder="title"
        class="form-control"
        required
      />
      <div class="invalid-feedback
      ">Title shoud be valid</div> 
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>

      <textarea
        name="listing[description]"
        id=""
        placeholder="description"
        class="form-control"
        required 
      ></textarea>
      <div class="invalid-feedback
      ">Description shoud be valid</div> 
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>

      <input
        type="file"
        name="listing[image]"
        class="form-control"
        required
   />
    </div>

    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
  
        <input
          type="text"
          name="listing[price]"
          placeholder="price"
          class="form-control"
          required
        />
        <div class="invalid-feedback
        ">Price shoud be valid</div> 
      </div>
  
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          placeholder="country"
          class="form-control"
          required
        />
        <div class="invalid-feedback
        ">Country shoud be valid</div> 
      </div>
    </div>
   

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>

      <input
        type="text"
        name="listing[location]"
        placeholder="location"
        class="form-control"
        required
      />
      <div class="invalid-feedback
      ">Location shoud be valid</div> 
    </div>

    <br>
    <button class="btn btn-dark add-btn">Add</button>
   <br><br>
  </form>
</div>
</body>
